* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(20, 20, 80);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ff0000;
}

ul {
  list-style: none;
}

#logo {
  width: 10em;
  border: 20px red dashed;
  padding: 10px;
  /* margin: 50px; */
}

nav {
  display: inline-block;
}
/* ul li {
  display: inline-block;
} */
.nav-link {
  display: inline-block;
}
